---
layout: default
title : Homepage
browser_title: Yongmao Pei Group | Peking University
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        {% include widgets/profile_bio_card.html %}

        {% if site.data.site_settings.homepage.show_academic_profile %}
            {% include widgets/academic_profile_card.html %}
        {% endif %}

        {% include widgets/group_members_card.html %}

        {% if site.data.site_settings.homepage.show_publications %}
            {% assign publication_count = site.data.publications | size %}
            {% if publication_count > 0 %}
                {% include widgets/publications_card.html %}
            {% endif %}
        {% endif %}

    </div>
</div>
