<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-users"></i> Group Members
    </h6>
    <div class="p-3">
        <div class="member-box mb-3">
            <div class="font-weight-bold">Principal Investigator</div>
            <a href="{{ site.data.members.principal_investigator.link }}" target="_blank" rel="noopener noreferrer">
                {{ site.data.members.principal_investigator.name }}
                <i class="fas fa-up-right-from-square member-link-icon" aria-hidden="true"></i>
            </a>
            <span class="text-muted ml-2">{{ site.data.members.principal_investigator.role }}</span>
        </div>

        {% include widgets/members_table.html title="Doctoral Students" members=site.data.members.doctoral_students %}
        {% include widgets/members_table.html title="Postdoctoral Researchers" members=site.data.members.postdoctoral_researchers %}
    </div>
</div>
