{% assign publications_by_year = site.data.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-book"></i> Publications
        <span class="ml-2 font-weight-normal text-muted">
            {{ site.data.publications | size }} publications indexed in
            <a href="https://webofscience.clarivate.cn/wos/" target="_blank" rel="noopener noreferrer"><strong>Web of Science</strong></a>
        </span>
    </h6>
    <div class="px-3 pt-2 small text-muted">
        Dates indicate online publication dates where available; otherwise, issue publication dates are used.
    </div>
    <div class="px-3 pb-1 small">
        {% for year in publications_by_year %}
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="mr-3 text-muted my-1">{{ year.name }}</div>
            <div class="media-body">
                {% assign year_items = year.items | sort: "date" %}
                {% for item in year_items %}
                <div class="my-1 d-flex">
                    <div>
                        [{{ item.number }}] <i>{{ item.title }}</i>.
                        <b>{{ item.journal }}</b>{% if item.volume %}, {{ item.volume }}{% endif %}{% if item.issue %}({{ item.issue }}){% endif %}{% if item.pages %}, {{ item.pages }}{% endif %}.
                        {% if item.doi %}DOI: <a href="https://doi.org/{{ item.doi }}" target="_blank">{{ item.doi }}</a>.{% endif %}
                        {% if item.first_author %}<span class="badge badge-pill badge-first-author ml-1">First author</span>{% endif %}
                        {% if item.corresponding %}<span class="badge badge-pill badge-info ml-1">Corresponding author</span>{% endif %}
                    </div>
                    <div class="ml-3 mt-auto text-muted no-break"><i>{{ item.date_display }}</i></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
